html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  color: white;
}

body {
  background: #050505;
  font-family: sans-serif;
  cursor: url('/images/ellipse.svg') 16 16, pointer;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* cache la scrollbar Firefox */
}

.scrollArea::-webkit-scrollbar {
  display: none; /* cache la scrollbar Chrome */
}
